<div class="containerCustom">
    <div class="login-content">
        <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
            <strong>Warning:</strong> {{vm.napakaSporocilo}}
        </div>
        <form method="post">
            <h3>Drop database </h3><button class="custom-button btn-login" type="submit" ng-click="vm.oddajObrazec()">Drop database</button></form>
        <h3>Start information </h3><a href="/register"><button class="custom-button btn-login">Start</button></a><br/>
        <div class="form-group has-feedback">
            <input ng-model="vm.myCalendar" class="form-input" type="text"placeholder="Calendar ID" required="" />
            <i class="glyphicon glyphicon-user form-control-feedback" style="margin-top:15px;"></i>
        </div>
        <button class="custom-button btn-login" ng-click="vm.insertPrecodedData()">Spam database</button>
</div>