<navigacija></navigacija>
<div class="bar"></div>

<nav aria-label="Page navigation example" style="text-align:center;">
  <ul class="pagination">
    <li ng-hide="vm.hidePrev" class="page-item"><a class="page-link" ng-href="{{'/searchResults/' + vm.prevSearch}}">Previous</a></li>
    <li ng-hide="vm.hideNext" class="page-item"><a class="page-link" ng-href="{{'/searchResults/' + vm.nextSearch}}">Next</a></li>
  </ul>
</nav>

<div class="container margin-from-top" ng-repeat="currentEvent in vm.events">
	<div class="row row-fix">
		<div class="col-lg-12 col-sm-12 col-xs-12 details">
			<div class="input-b">
				<span><b>Date:</b> <em>{{currentEvent.startTime | date:'yyyy-MM-dd'}}</em> </span>
				<span><b>Time:</b> <em>{{currentEvent.startTime | date:'HH:mm'}}</em> </span>
				<span><b>Title</b> <em>{{currentEvent.title}}</em></span>
			</div>
			<a ng-href="{{'/sharedEvents/' + currentEvent._id}}"><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></a>
		</div>
	</div>
</div>