mixin prikaziDneve(content, data, dataP)
    - var array = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    - var j = 1, c = 0, z = 0;
    - for (var i = dataP.last - dataP.index; j <= 7 ; i++, j++)
      - if(i <= dataP.last){
      - z++;
       li.prevDay
        span.miniDay #{array[j-1]}
        .date
         a() #{i}
      - }else{
         -z++;
         -c++;
         li.day
          span.miniDay #{array[(j-1)%7]}
          .date
           a(href="/calendar/" + content._id + "/event?q=" + dataP.y + "-" + dataP.m + "-" + c) #{c}
          - for (var k = 0; k < data[c].events.length; k++)
            .description.miniDayDesktop
             span #{data[c].events[k]}
      - }
    - for (var i = c+1; i<=data.numberOfDays; i++) {
       -z++;
       li.day
        span.miniDay #{array[(i-2)%7]}
        .date
         a(href="/calendar/" + content._id + "/event?q=" + dataP.y + "-" + dataP.m + "-" + i) #{i}
        - for (var k = 0; k < data[i].events.length; k++)
          .description.miniDayDesktop
           span #{data[i].events[k]}
    - }
    - for (var i = z%7,j=1; i<7; i++,j++) {
       li.prevDay
        span.miniDay #{array[i]}
        .date
         a() #{j}
    - }
    
    
mixin prikaziDneveShared(content, data, dataP)
    - var array = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    - var j = 1, c = 0, z = 0;
    - for (var i = dataP.last - dataP.index; j <= 7 ; i++, j++)
      - if(i <= dataP.last){
      - z++;
       li.prevDay
        span.miniDay #{array[j-1]}
        .date
         a() #{i}
      - }else{
         -z++;
         -c++;
         li.day
          span.miniDay #{array[(j-1)%7]}
          .date
           a(href="/shared-calendars/" + content._id + "/event?q=" + dataP.y + "-" + dataP.m + "-" + c) #{c}
          - for (var k = 0; k < data[c].events.length; k++)
            .description.miniDayDesktop
             span #{data[c].events[k]}
      - }
    - for (var i = c+1; i<=data.numberOfDays; i++) {
       -z++;
       li.day
        span.miniDay #{array[(i-2)%7]}
        .date
         a(href="/shared-calendars/" + content._id + "/event?q=" + dataP.y + "-" + dataP.m + "-" + i) #{i}
        - for (var k = 0; k < data[i].events.length; k++)
          .description.miniDayDesktop
           span #{data[i].events[k]}
    - }
    - for (var i = z%7,j=1; i<7; i++,j++) {
       li.prevDay
        span.miniDay #{array[i]}
        .date
         a() #{j}
    - }
    
    
mixin appendDayPreview(content, calendar)
    - for (var i = 0; i < content.length ; i++)
     .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-4
       - var ura = (new Date(content[i].date).getHours() < 10)?"0"+new Date(content[i].date).getHours():new Date(content[i].date).getHours()
       - var minute = (new Date(content[i].date).getMinutes() < 10)?"0"+new Date(content[i].date).getMinutes():new Date(content[i].date).getMinutes()
       h1.text-left.h1-hour #{ura}:#{minute}
      .col-lg-10.col-md-10.col-sm-10.col-xs-8.div-event
       h4.h2-event-text #{content[i].title}
        button.edit.edit-e(onclick="location.href='/calendar/" + calendar + "/event/" + content[i].id + "'")
         i.glyphicon.glyphicon-cog



mixin appendDayPreviewShared(content, calendar)
    - for (var i = 0; i < content.length ; i++)
     .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-4
       - var ura = (new Date(content[i].date).getHours() < 10)?"0"+new Date(content[i].date).getHours():new Date(content[i].date).getHours()
       - var minute = (new Date(content[i].date).getMinutes() < 10)?"0"+new Date(content[i].date).getMinutes():new Date(content[i].date).getMinutes()
       h1.text-left.h1-hour #{ura}:#{minute}
      .col-lg-10.col-md-10.col-sm-10.col-xs-8.div-event
       h4.h2-event-text #{content[i].title}
         
         
mixin sharedEvents()
   - if(content.length == 0)
    .container.no-result-div
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          h1.no-result No shared events
   - else 
    - for (var i = 0; i < content.length ; i++)
     - var d = new Date(content[i].startTime); var h = (d.getHours() < 10)?"0"+d.getHours():d.getHours(); var m = (d.getMinutes() < 10)?"0"+d.getMinutes():d.getMinutes();
     - var date = d.getDate()+"."+(d.getMonth()+1)+"."+d.getFullYear()
     .col-lg-3.col-md-4.col-sm-6.col-xs-6.edit2.tOverflow(onclick="window.location='/shared-events/" + content[i]._id + "'")
       h3 #{content[i].title} - #{content[i].location}
       h4= date
       h4 #{h}:#{m}
       img.avatar(src="/images/groupIcon.png" width="100" height="100" alt="Event.png")
       p
         b Event description:
         br
         | #{content[i].note}
         
mixin appendSharedCalendars(content)
   - if(content.length == 0)
    .container.no-result-div
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          h1.no-result No shared calendars
   - else 
    - for(var i = 0; i < content.length; i++)
      .col-lg-4.col-sm-6.edit2.tOverflow(onclick="window.location='/shared-calendars/" + content[i]._id + "'")
       h3= content[i].title
       img.avatar(src="/images/groupIcon.png" width="100" height="100" alt="Group.png")
       p
        b Calendar description:
        br
        | #{content[i].description}
   
   
     
mixin appendSearchResult(content)
   - if(content.length == 0)
    .container.no-result-div
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          h1.no-result No shared events
   - else       
    - for(var i = 0; i < content.length; i++)
     - var d = new Date(content[i].startTime); var h = (d.getHours() < 10)?"0"+d.getHours():d.getHours(); var m = (d.getMinutes() < 10)?"0"+d.getMinutes():d.getMinutes();
     - var date = d.getDate()+"."+(d.getMonth()+1)+"."+d.getFullYear()
     .container.margin-from-top
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          .input-b
            span
              b Date:
              em   #{date}  
            span
              b Time:
              em   #{h}:#{m}  
            span
              b Title:
              em   #{content[i].title}  
          button.edit2(type='button', onclick="location.href='/shared-events/" + content[i]._id + "'")
            i.glyphicon.glyphicon-pencil