<navigacija></navigacija>
<div class="bar"></div>

<form method="post">
 <div class="container">
    <div class="row" >
       <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
          <div id="col1_row1" class="row" >
             <div class="col-md-12 mdfix" >
                <h1 class="h1-month">{{vm.calendarInfo.month}} {{vm.calendarInfo.year}}</h1>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12 div-col">
                <h1 class="h1-day">{{vm.calendarInfo.dayDisc}}, {{vm.calendarInfo.day}}</h1>
             </div>
          </div>
       </div>
       <div ng-switch="vm.vreme" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather">
            <img ng-switch-when="true" class="img-circle" ng-src="{{vm.slika}}" alt="Current_Weather.png" />
            <img ng-switch-default class="img-circle"  src="/images/loadinfo.gif" alt="Current_Weather.png" />
        </div>
    </div>
 </div>
 <div class="container">
    <div class="row row-fix">
       <div class="col-md-12">
          <h1 class="bolded h1-titles">Title</h1>
       </div>
    </div>
    <div class="row row-fix">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
          <input class="input-b" type="text" ng-model="vm.podatkiObrazca.title" name="title" required/>
          <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row row-fix">
       <div class="col-md-12 ">
          <h1 class="bolded h1-titles">Location</h1>
       </div>
    </div>
    <div class="row row-fix">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
          <input class="input-b" type="text" ng-model="vm.podatkiObrazca.location" name="location" required/>
          <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row row-fix">
       <div class="col-md-12">
          <h1 class="bolded h1-titles">Start time</h1>
       </div>
    </div>
    <div class="row row-fix">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  details">
          <input class="input-b" type="time" ng-model="vm.podatkiObrazca.startTime" name="startTime" required/>
          <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row row-fix">
       <div class="col-md-12">
          <h1 class="bolded h1-titles">End time</h1>
       </div>
    </div>
    <div class="row row-fix">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
          <input class="input-b" type="time" ng-model="vm.podatkiObrazca.endTime" name="endTime" required/>
          <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row row-fix">
       <div class="col-md-12">
          <h1 class="bolded h1-titles">Notes</h1>
       </div>
    </div>
    <div class="row row-fix">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details d-fix">
          <input class="input-b" type="text" ng-model="vm.podatkiObrazca.note" name="notes" required/>
          <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
       </div>
    </div>
 </div>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <button ng-click="vm.shareEvent()" class="btn-share">{{vm.podatkiObrazca.shared == 'true'? 'Unshare':'Share'}}</button>
    <button ng-click="vm.posljiPodatke()" class="save-changes">Save</button>
    <button ng-click="vm.removeEvent()" class="confirm-delete">Remove</button>
 </div>
</form>