<navigacija></navigacija>
<div class="bar"></div>
<form ng-submit="vm.posljiPodatke()" method="post" autocomplete="off">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <div id="col1_row1" class="row">
                    <div class="col-md-12 mdfix div-offset-title">
                        <h1 class="h1-month">{{vm.calendarInfo.month}} {{vm.calendarInfo.year}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 div-col">
                        <h1 class="h1-day">{{vm.calendarInfo.dayDisc}}, {{vm.calendarInfo.day}}</h1>
                    </div>
                </div>
            </div>
            <div ng-switch="vm.vreme" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather">
                <img ng-switch-when="true" class="img-circle" ng-src="{{vm.slika}}" alt="Current_Weather.png" />
                <img ng-switch-default class="img-circle"  src="/images/loadinfo.gif" alt="Current_Weather.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
                <strong>Warning:</strong> {{vm.napakaSporocilo}}
            </div>
            <div ng-show="vm.uspeh" class="alert alert-success">
                <strong>The data was added</strong>
            </div>
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Title</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details"><input class="input-b" ng-model="vm.podatkiObrazca.title" type="text" value="" name="title" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Location</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details"><input class="input-b" ng-model="vm.podatkiObrazca.location" type="text" value="" name="location" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Start time</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details"><input class="input-b" ng-model="vm.podatkiObrazca.startTime" type="time" value="" name="startTime" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">End time</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details"><input ng-model="vm.podatkiObrazca.endTime" class="input-b" type="time" value="" name="endTime" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Notes</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details d-fix"><input ng-model="vm.podatkiObrazca.note" class="input-b" type="text" value="" name="note" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-flex"><button class="add-event" type="submit">Confirm</button></div>
        </div>
    </div>
</form>