<navigacija></navigacija>
<div class="bar"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
            <div id="col1_row1" class="row">
                <div class="col-md-12 mdfix div-offset-title">
                    <h1 class="h1-month">{{vm.calendarInfo.month}} {{vm.calendarInfo.year}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 div-col">
                    <h1 class="h1-day">{{vm.calendarInfo.dayDisc}}, {{vm.calendarInfo.day}}</h1>
                </div>
            </div>
        </div>
        <div ng-switch="vm.vreme" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather">
            <img ng-switch-when="true" class="img-circle" ng-src="{{vm.slika}}" alt="Current_Weather.png" />
            <img ng-switch-default class="img-circle"  src="/images/loadinfo.gif" alt="Current_Weather.png" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-repeat="event in vm.events">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <h1 class="text-left h1-hour">{{event.date}}</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 div-event">
            <h4 class="h2-event-text">{{event.title}}
                <a ng-href="{{'/calendar/' + calendar + '/event/' + event.id + '?q=' + vm.prenesiDatum}}"><button class="edit edit-e"><i class="glyphicon glyphicon-cog"></i></button></a>
            </h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 div-flex"><a ng-href="{{vm.eventAdd}}"><button class="add-event"><i class="glyphicon glyphicon-plus glyphicon-fix"></i></button></a></div>
    </div>
</div>