<div class="modal-content">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h4 class="modal-title">Posodobi koledar</h4>
    </div>
    <div class="modal-body">
        <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
            <strong>Warning:</strong> {{vm.napakaSporocilo}}
        </div>
        <label>Current title: {{vm.data.title}}</label>
        <input ng-model="vm.podatkiObrazca.title" class="form-control" placeholder="Insert new title" required><br>
        <label>Description: {{vm.data.description}}</label>
        <input ng-model="vm.podatkiObrazca.description" class="form-control" placeholder="Insert new description" required>
    </div>
    <div class="modal-footer">
        <button ng-click="vm.modalnoOkno.shrani()" type="button" class="btn btn-default btn-sm">Save</button>
        <button ng-click="vm.modalnoOkno.share()" type="button" class="btn btn-default btn-sm">{{vm.data.shared === 'true' ? 'Unshare':'Share'}}</button>
        <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Prekliči</button>
    </div>
</div>