<navigacija></navigacija>
<div class="bar"></div>
<div class="container">
    <div class="row row-fix-top">
        <div ng-show="vm.prikaziPrazno" class="container no-result-div">
        	<div class="row row-fix">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
        			 <h1 class="no-result">No shared calendars</h1>
        		</div>
        	</div>
        </div>
        <div class="col-lg-4 col-sm-6 edit2 tOverflow" ng-repeat="koldearcek in vm.calendars">
            <a ng-href="{{'sharedCalendars/' + koldearcek._id }}">
        		<h3> {{ koldearcek.title }} </h3>
        		<img class="avatar" src="/images/groupIcon.png" width="100" height="100" alt="Group.png"/>
        		<p><b>Calendar description: </b><br>
        		    {{ koldearcek.description }}
        		</p>
    		</a>
        </div>
	</div>
</div>