<navigacija></navigacija>
<div class="bar"></div>
<div class="container">
   <h2 class="h2-name">{{vm.nickname}}</h2>
   <img id="profileSettingsAvatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar_Icon.png" />
   <form method="post" autocomplete="off" ng-submit="vm.posljiPodatkeObrazca()">
      <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
          <strong>Warning:</strong> {{vm.napakaSporocilo}}
      </div>
      <div class="form-group"><label for="nickname">Nickname</label><input ng-model="vm.podatkiObrazca.nickname" class="form-control" id="nickname" maxlength="20" name="nickname" type="text" placeholder="Change nickname" required="" /></div>
      <div class="form-group"><label for="oldpassword">Old password</label><input ng-model="vm.podatkiObrazca.oldpassword" class="form-control" id="oldpassword" name="oldpassword" maxlength="20" minlength="6" type="password" placeholder="Old password" required="" /></div>
      <div class="form-group"><label for="newpassword">New password</label><input ng-model="vm.podatkiObrazca.newpassword" class="form-control" id="password" name="newpassword" maxlength="20" minlength="6" type="password" placeholder="New password" required="" /></div>
      <div class="form-group"><label for="confrimpassword">Confirm password</label><input ng-model="vm.podatkiObrazca.confrimpassword" class="form-control" id="cpassword" name="confrimpassword" maxlength="20" minlength="6" type="password" placeholder="Password confirmation" required="" /></div>
      <div class="text-center"><button class="btn-post" type="submit">Submit</button></div>
   </form>
</div>
