<div class="containerCustom">
    <div class="login-content">
        <form id="login-form" method="post" ng-submit="vm.izvediLogin()" role="form" autocomplete="off">
            <h3 class="form-title">Login</h3>
            <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
                <strong>Warning:</strong> {{vm.napakaSporocilo}}
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.username" class="form-input" id="uname" type="text" minlength="6" maxlength="20" name="username" placeholder="Username" required="" />
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.password" class="form-input" id="Password" type="password" maxlength="20" name="password" placeholder="Password" required="" />
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group">
                <button class="custom-button btn-login" type="submit">Login</button>
            </div>
        </form>
        <p class="login-paragraph">Don't have an account?  <a class="login" href="/register">Sign up</a></p>
    </div>
</div>