<div class="containerCustom">
    <div class="signup-content">
        <form class="signup-form" id="signup-form" method="post" ng-submit="vm.izvediRegistracijo()" role="form" autocomplete="off">
            <h3 class="form-title">Sign up</h3>
            <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
                <strong>Warning:</strong> {{vm.napakaSporocilo}}
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.username" class="form-input" id="uname" type="text" minlength="6" maxlength="20" name="username" placeholder="Username" required="" />
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.email" class="form-input" id="email" type="email" maxlength="40" name="email" placeholder="Email" required="" /><i class="glyphicon glyphicon-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.password" class="form-input" id="password" type="password" minlength="6" maxlength="20" name="password" placeholder="Password" required="" /><i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input ng-model="vm.podatkiObrazca.password_repeat" class="form-input" id="cpassword" type="password" minlength="6" maxlength="20" name="password_repeat" placeholder="Confrim password" required="" />
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>
            <div class="form-group">
                <button class="custom-button sign-up" type="submit">Sign up</button>
            </div>
        </form>
        <p class="login-paragraph">Already have an account?  <a class="login" href="/login">Login</a></p>
    </div>
</div>