extends layoutCalendar
block content
  .bar
  .container
    h2.h2-name= content.nickname
    img#profileSettingsAvatar(src='https://www.w3schools.com/howto/img_avatar.png', alt='Avatar_Icon.png')
    form(action="/account/" + content._id, method='post', onsubmit='return validateForm()', autocomplete='off')
      .form-group
        label(for='nickname') Nickname
        input#nickname.form-control(maxlength='20', name='nickname', type='text', placeholder='Change nickname', required='')
      .form-group
        label(for='oldpassword') Old password
        input#oldpassword.form-control(name='oldpassword', maxlength='20', minlength='6', type='password', placeholder='Old password', required='')
      .form-group
        label(for='newpassword') New password
        input#password.form-control(name='newpassword', maxlength='20', minlength='6', type='password', placeholder='New password', required='')
      .form-group
        label(for='confrimpassword') Confirm password
        input#cpassword.form-control(name='confrimpassword', maxlength='20', minlength='6', type='password', placeholder='Password confirmation', required='')
      .text-center
        button.btn-post(type='submit') Submit
  
  script(src="/javascripts/extractCookie.js")
  script(src='/javascripts/validateRegister.js')