extends layoutCalendar
block content
  .bar
  form(action="/calendar/" + calendar + "/event/add?q=" + date, method='post', autocomplete="off")
    .container
      .row
        .col-lg-10.col-md-10.col-sm-8.col-xs-8
          #col1_row1.row
            .col-md-12.mdfix.div-offset-title
              h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
          .row
            .col-md-12.div-col
              h1.h1-day #{calendarInfo.dayDisc}, #{calendarInfo.day}.
        .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
          img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Title
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value='', name='title', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Location
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value='', name='location', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Start time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value='', name='startTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles End time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value='', name='endTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Notes
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details.d-fix
          input.input-b(type='text', value='', name='note', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-flex
          button.add-event(type='submit') Confirm
          
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")