extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
    p.parTitle #{contentD.title}
    button.edit-cl(onclick="location.href='/calendar/" + contentD._id + "/edit'")
      i.glyphicon.glyphicon-cog
  #calendar-wrap
    #calendar
      ul.weekdayNames
        li.tcolor  Sunday 
        li.tcolor  Monday 
        li.tcolor  Tuesday 
        li.tcolor  Wednesday 
        li.tcolor  Thursday 
        li.tcolor  Friday 
        li.tcolor  Saturday 
      ul.row
        +prikaziDneve(contentD, data, dataP)

  .left-switch
    a.glyphicon.glyphicon-chevron-left(onclick="getPreviousMonthURL()")
  .right-switch
    a.glyphicon.glyphicon-chevron-right(onclick="getNextMonthURL()")
  p#userId(style="display:none;")= contentD.user
  p#calendarId(style="display:none;")= contentD._id 
  
  script(src="/javascripts/support.js")
  script(src="/javascripts/calendar.js")