extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
  .container
    .row
      .col-lg-10.col-md-10.col-sm-8.col-xs-8
        #col1_row1.row
          .col-md-12.mdfix.div-offset-title
            h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
        .row
          .col-md-12.div-col
            h1.h1-day #{calendarInfo.dayDisc}, #{calendarInfo.day}.
      .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
        img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
  .container
    +appendDayPreviewShared(content, calendar)
          
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")