doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" type="image/x-icon" href="/images/title.ico")
    link(rel="stylesheet" href="/css/login.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    title Database
  body
    .containerCustom
      .login-content
        form(method="post" action="/db")
          h3 Drop database 
          button.custom-button.btn-login(type="submit") Drop database
        h3 Start information 
        button.custom-button.btn-login(onclick="location.href='/register'") Start

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")