extends layoutCalendar
block content
  .bar
  form(action='/calendar/' + calendar + '/event/' + event + "?q=" + queryDate, method='post', autocomplete="off")
    .container
      .row
        .col-lg-10.col-md-10.col-sm-8.col-xs-8
          #col1_row1.row
            .col-md-12.mdfix.div-offset-title
              h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
          .row
            .col-md-12.div-col
              h1.h1-day  #{calendarInfo.dayDisc}, #{calendarInfo.day}.
        .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
          img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Title
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value=content.title, name='title', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Location
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value=content.location, name='location', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Start time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value=content.startTime, name='startTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles End time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value=content.endTime, name='endTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Notes
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details.d-fix
          input.input-b(type='text', value=content.note, name='note', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
          input.input-b(type='hidden', value=queryDate , name='date', required='')
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
      button.btn-share(formaction='/calendar/' + calendar + '/event/' + event + "/share")= share
      button.save-changes(type='submit') Save
      button.confirm-delete(formaction='/calendar/' + calendar + '/event/' + event + "/remove", formmethod='get') Remove
  
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")