extends layoutCalendar

block content
  .bar
  form(action="/calendar/" + calendar + "/edit" method="post" autocomplete="off")
    .container
      .row
        .col-lg-10.col-md-10.col-sm-8.col-xs-8
          #col1_row1.row
            .col-md-12.mdfix
              h1.h1-calendar= info.title
          .row
            .col-md-12.div-col
              h1.h1-description Description: #{info.description}
        .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
          img.img-circle(src="/images/calendar.jpg" alt="Calendar_Icon.png")
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Title
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value=info.title name="title" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-description-fix Description
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value=info.description name="description" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.fix-margin
      button.btn-share(formaction="/calendar/" + calendar + "/share")= share
      button.save-changes(type="submit") Save
  
  script(src="/javascripts/extractCookie.js")