doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" type="image/x-icon" href="/images/title.ico")
    title Koledarko
    link(rel="stylesheet" type="text/css" href="/css/" + cssFile + ".css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/css/Navigation-Clean.css")
  body
    div
      nav.navbar.navbar-default.navigation-clean
        .container
          .navbar-header
            button.navbar-toggle.collapsed.menu-button(data-toggle="collapse" data-target="#navcol-1")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            p.navbar-brand Koledarko
          #navcol-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li(role="presentation")
                a#calendarRedirect(href="/calendar/") My Calendar
              li(role="presentation")
                a(href="/shared-calendars") Shared Calendars
              li(role="presentation")
                a(href="/shared-events") Shared Events
              li(role="presentation")
                a#searchRedirect(href="/search/") Search
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown" aria-expanded="false" href="#")
                  | Settings 
                  span.caret
                ul.dropdown-menu(role="menu")
                  li(role="presentation")
                    a#accountRedirect(href="/account/") Account
                  li(role="presentation")
                    a(href="/login") Logout
    
    block content
    
  script(src="/assets/js/jquery.min.js")
  script(src="/assets/bootstrap/js/bootstrap.min.js")