extends layoutUser

block content
  .containerCustom
    .signup-content
      form#signup-form.signup-form(method='post', action='register', onsubmit='return validateForm()', autocomplete="off")
        h3.form-title Sign up
        .form-group.has-feedback
          input#uname.form-input(type='text', minlength='6', maxlength='20', name='username', placeholder='Username', required='')
          i.glyphicon.glyphicon-user.form-control-feedback
        .form-group.has-feedback
          input#email.form-input(type='email', maxlength='40', name='email', placeholder='Email', required='')
          i.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          input#password.form-input(type='password', minlength='6', maxlength='20', name='password', placeholder='Password', required='')
          i.glyphicon.glyphicon-lock.form-control-feedback
        .form-group.has-feedback
          input#cpassword.form-input(type='password', minlength='6', maxlength='20', name='password_repeat', placeholder='Confrim password', required='')
          i.glyphicon.glyphicon-lock.form-control-feedback
        .form-group
          button.custom-button.sign-up(type='submit') Sign up
      p.login-paragraph
        | Already have an account?  
        a.login(href='login') Login
        
  script(src='javascripts/validateRegister.js')