extends layoutCalendar
block content
  .bar
  .container
    .row
      .col-lg-10.col-md-10.col-sm-8.col-xs-8
        #col1_row1.row
          .col-md-12.mdfix
            h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
        .row
          .col-md-12.div-col
            h1.h1-day #{calendarInfo.dayDisc}, #{calendarInfo.day}.
      .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
        img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.delevent
        h4.h4-remove You are about to remove the following event:
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-4.revent
        h1.text-left.h1-hour= eventInfo.time
      .col-lg-10.col-md-10.col-sm-10.col-xs-8.reventdesc
        h4.h4-remove= eventInfo.title
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-flex
        form(action='/calendar/' + calendar + '/event/' + event + '/remove?q=' + queryDate, method='post')
          button.confirm-delete(type='submit') Confirm
    
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")