extends layoutCalendar

block content
  .bar
  .row
    .container
      .col-lg-10.col-md-10.col-sm-8.col-xs-8
        #col1_row1.row
          .col-md-12.mdfix
            h1 
             b Search shared events
      i.glyphicon.glyphicon-search.searchIkona
  form(action="/search/" + calendar + "/find", method="get")
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Location
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value="Ljubljana" name="location" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
            
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-center-align.d-fix
      button.save-changes(type="submit") Search
      
  script(src="/javascripts/extractCookie.js")