extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
  .container
    .row.row-fix-top
      +appendSharedCalendars(content)
      
  script(src="/javascripts/extractCookie.js")