extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
  .container
    .row.center-row.row-fix-top
      .center-div
        +sharedEvents(content)
        
  script(src="/javascripts/extractCookie.js")