extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
    p.parTitle #{contentD.title}
  #calendar-wrap
    #calendar
      ul.weekdayNames
        li.tcolor  Sunday 
        li.tcolor  Monday 
        li.tcolor  Tuesday 
        li.tcolor  Wednesday 
        li.tcolor  Thursday 
        li.tcolor  Friday 
        li.tcolor  Saturday 
      ul.row
        +prikaziDneveShared(contentD, data, dataP)

  .left-switch
    a.glyphicon.glyphicon-chevron-left(onclick="getPreviousMonthURL()")
  .right-switch
    a.glyphicon.glyphicon-chevron-right(onclick="getNextMonthURL()")
  
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/calendar.js")