<!DOCTYPE html>
<html ng-app="koledarko">
<head>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/title.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Koledarko</title>
    <link rel="stylesheet" ng-href="{{css}}">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">

    <base href="/">
</head>
<body ng-view>
</body>
    <script src="/angular/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/ui-bootstrap-custom-2.5.0.min.js"></script>
    <script src="/lib/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="/angular/koledarko.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/calendar.js"></script>
    <script>
        var url = location.href;
        setInterval(function(){
            if(url != location.href){
                console.log("different");
                url = location.href;
                var pageTracker = _gat._getTracker('UA-132352215-1');
                pageTracker._trackPageview(location.pathname);
            }
        }, 3000);
    </script>
</html>