<div>
   <nav class="navbar navbar-default navigation-clean">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <p class="navbar-brand">Koledarko</p>
         </div>
         <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
               <li role="presentation">
                 <a id="calendarRedirect" ng-href="{{'/calendar/' + calendar}}">My Calendar</a>
               </li>
               <li role="presentation">
                 <a href="/sharedCalendars">Shared Calendars</a>
               </li>
               <li role="presentation">
                 <a href="/sharedEvents">Shared Events</a>
               </li>
               <li role="presentation">
                 <a id="searchRedirect" href="/search">Search</a>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                     <li role="presentation"><a id="accountRedirect" ng-href="{{'/account/' + user}}">Account</a></li>
                     <li role="presentation"><a ng-href="{{ '/logout' }}">Logout</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>