<navigacija></navigacija>
<div class="bar"></div>
<form autocomplete="off">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <div class="row" id="col1_row1">
                    <div class="col-md-12 mdfix div-offset-title">
                        <h1 class="h1-month">{{vm.calendarInfo.month}} {{vm.calendarInfo.year}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 div-col">
                        <h1 class="h1-day">{{vm.calendarInfo.dayDisc}}, {{vm.calendarInfo.day}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Title</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                <p class="input-b">{{vm.podatkiObrazca.title}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Location</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                <p class="input-b">{{vm.podatkiObrazca.location}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Start time</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                <p class="input-b">{{vm.podatkiObrazca.startTime | date: 'HH:mm'}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">End time</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                <p class="input-b">{{vm.podatkiObrazca.endTime | date: 'HH:mm'}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Notes</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details d-fix">
                <p class="input-b">{{vm.podatkiObrazca.note}}</p>
            </div>
        </div>
    </div>
</form>